langchain
python-dotenv
langchain-community
pypdf
beautifulsoup4
pymupdf
langchain-text-splitters
langchain-ollama
faiss-cpu
streamlit
langchain-groq
langchain-core
PyPDF2
gradio
huggingface_hub
langchain-huggingface
langchain_huggingface
