hf_xet
streamlit
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-core
langchain
langchain-community
langchain-openai
faiss-cpu
python-dotenv
huggingface_hub
pypdf
